/* 導覽列 */


.header{
    
    height: 40px;
    background-color: #ffffff;
    border-bottom: rgb(255, 122, 122) 5px solid;
    position: relative;
}
.logo{
        width: 60px;
        height: 40px;
        margin-left: 20px;

}
.logo img{
    width: 80px;
    height: 40px;



  
}
.logo img:hover{


}

.menu_btn{
    width: 40px;
    height: 40px;
    background-color: #000;
    display: block;
    position: absolute;
    top:0px;
    right: 10px;
}
#menu_control{
    position: absolute;
    opacity: 0;
    
    
}

.menu_btn span {
    opacity: 0;
    width: 1px;
    height: 1px;
    display:block;
    overflow: hidden;
}


.menu_btn::before{
    content: '';
    position: absolute;
    height: 2px;
    left: 2px;
    width: 36px;
    background-color: #ffffff;
    top: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 0px 8px 0px #ffffff,
                0px -8px 0px #ffffff;
}

nav{
    
}

nav a {
    display: block;
    text-decoration: none;
    color: #000;
    font-size: 18px;
    padding: 10px 0px 10px 10px;
    font-weight: bolder;
    transition: .5s;
    
}


#menu_control:checked ~ .header  nav {
    left:0;
}

.banner{
    padding: 10px 0 0 0;
}

.banner .item{
    background-color: rgb(214, 214, 214,.5);
    
}
.banner img{
    width: 100%;
}
.banner h1{
 font-size: 30px;
 text-align: center;
 font-family: Arial, Helvetica, sans-serif;
 line-height: 1.5;
 font-weight: bold;
 
}
.banner p{
    text-align: center;
 padding: 0 0 25px 0;
 letter-spacing: 1px;
 font-family: 微軟正黑體;
 line-height: 1.5;
}

.fixitem{
    position: fixed;
    right: 0;
    top: 50px;

}
.fixitem .img-item{
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    margin: 0 0 5px 0 ;
}
.fixitem .img-item img{
    width: 30px;
    height: 30px;
    
    
}
.fixitem .img-item:hover{
 
 background-color: rgb(161, 159, 159);
}



/* 導覽列 */


/* 內文 */

.about{

   
}

.about .wrap{
 margin: a
}

.about .wrap .item{
    width:100%;
}
.about .wrap .item img{
    width: 100%;
    max-height: 295px;
}

.about .wrap .item h3{
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    font-family: 微軟正黑體;

}
.about .wrap .item p{
    font-family: 微軟正黑體;
    line-height: 1.5;
    display: block;
    padding: 10px;
    background-color: rgb(214, 214, 214,.5);
    
}

.Skill h1{
    font-size: 50px;
    background-color: rgb(214, 214, 214,.5);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
}
.Skill .wrap{
   
}
.Skill .wrap .item{
 
    width: 100%;

    margin: 0 50px 40px 5px;
}
.Skill .wrap .item img{
    display: block;
    margin: auto;
}



/* 內文 */

/* 頁尾 */

.footer{
    width: 100%;
    height: 100px;
    background-color: #000;
    text-align: center;
}
.footer p {
    color: #fff;
    line-height: 6;
}

max-wrap-1{
    display: block;
    margin: 0;
}

/* 頁尾 */

/* phone */
@media screen and (max-width:767px){
    nav{
        width: 80%;
        height: calc(100vh - 40px);
        background-color: #ccc;
        position: absolute;
        top:40px;
        left:-100% ;
        opacity: 0.7 ;
        transition: 0.5s;
    }
    nav a {
        border-bottom: 1px solid;
    }
    nav a:hover{
        background:rgb(182, 243, 243);
        
    }

    .about .wrap .item{
        width: 100%;

    
    }

    .about .wrap .item h3{
        text-align: center;
        margin: 10px 0;
    }
   
    .about .wrap .item img{
        display: block;
        margin: auto;
    }
    .about .wrap .item p {
        margin: 10px;
    }

    #menu_control:checked ~.max-wrap-3 .header nav {
        left: 0;
        
    }
    
    .slim{
        background-color: rgb(214, 214, 214,.5);
        height: 50px;
        width: 100%;
        max-width: 1400px;
        margin: 20px auto;
        font-size: 50px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        font-weight: bold;
        

        
    }

    .max-wrap-3 .wrap .item{
        width: 100%;
        margin-bottom:10px; 
    }
    .max-wrap-3 .wrap .item img{
        width: 100%;
    }

    .max-wrap-3 .wrap .item .name{
        margin: 5px 0;
    }
    .max-wrap-3 .wrap .item .mail{
        margin: 5px 0;
    }
    .max-wrap-3 .wrap .item .phone{
        margin: 5px 0;
    }

    .max-wrap-3 .wrap .item textarea{
        margin:5px 0px;
        width: 200px;
    }

}
/*desktop  */
@media screen and (min-width:768px){
    .logo img{
        width: 120px;
        height: 70px;
    }

    .max-wrap-1{
        width: 1400px;
        height: 595px;
       
        margin: auto;
    }
    .max-wrap-2{
        width: 1400px;
        height: 350px;
       
        margin: auto;
    }

    .max-wrap-3{
        width: 1400px;
        margin: auto;
    }

    .banner{
     max-width: 1400px;
     display: block;
     margin: auto;
     padding: 90px 0 0 0;
     
        
    }
    .banner .item{
     
       
    }
    .banner .item img{
max-height: 500px;
     
    }
    .banner .item p{
      
    }

    .menu_btn{
        display: none;
    }

    .center{
        margin: auto;
    }
    .header{
        
        position:fixed;
        width: 1400px;
        height: 80px;
        margin: 0 0 0px 0;
        
        
    }
    .header .logo{
        float: left;
    }
    .header nav{
        float: right;
       
    }
    nav{
        position: relative;
        left:0;
        top:0;
        background-color: #fff;
        display: flex;
        width: auto;
        height: auto;
        
    }
    nav a {
        border: none;
        margin: 0 0 0 80px;
        line-height: 3;
        display: inline;
    }
    nav a:hover{
        position: relative;
        color:rgb(182, 243, 243);
        top: 3px;
        
    }

    .about .wrap{
        display: flex;
         justify-content: center;
       
    }
    .about .wrap .item{
        width: 300px;
        margin: 20px;
    }
    .about .wrap .item img{
        margin: 10px  0px;
        width: 100%;
    }
    .Skill h1{
        font-size: 50px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        font-weight: bold;
    }
    .Skill .wrap{
        display: flex;
    }
    .Skill .wrap .item{
        display: flex;
        width: 300px;
     
      
        margin: 0 50px 0 0;
    }
    .Skill .wrap .item img{
        display: block;
        margin: auto;
    }

    .slim{
        background-color: rgb(214, 214, 214,.5);
        height: 50px;
        width: 100%;
        max-width: 1400px;
        margin: 20px auto;
        font-size: 50px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        font-weight: bold;
    
    }
    .slim-bottom{
        background-color: rgb(214, 214, 214,.5);
        height: 50px;
        width: 100%;
        max-width: 1400px;
        margin: 20px auto;
        font-size: 50px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        font-weight: bold;
        padding: 0 0 80px 0;
    
    }
    .max-wrap-3 .wrap{
        display: flex;
        justify-content: space-around;
        justify-items: center;
    }
    .max-wrap-3 .wrap .item .name,.max-wrap-3 .wrap .item .mail,.max-wrap-3 .wrap .item .phone,.max-wrap-3 .wrap .item  .content{
        margin-bottom: 20px;
    }
   

    .footer{
        position: fixed;
        bottom: 0;
    }


 
}
